<% layout('layouts/boilerplate') -%>
<h1>These are destinations</h1>
<ul>
  <form action="/destinations/new">
    <button type="submit">Add new destination</button>
  </form>

  <!-- Go through the DB and listing the destination title -->
  <% for(let destination of destinations) { %>
  <li>
    <a href="/destinations/<%= destination.id %> "><%= destination.title %></a>
  </li>
  <% } %>
</ul>
