<% layout('layouts/boilerplate') -%>
<h1>This is <%= destination.title %> page</h1>
<label for="description"></label>
<p id="description"><%= destination.description %></p>
<form action="/destinations/<%= destination._id %>/edit">
  <button type="submit">Edit destination</button>
</form>
<form action="/destinations/<%=destination._id %>?_method=DELETE" method="post">
  <button type="submit">DELETE</button>
  <a href="/destinations">Back</a>
</form>
